*{
	text-align: center;
	padding-left: 0;
	/*background-color: black;*/
	font-family: "Helvetica", "Arial", sans-serif;
}

h1{
	font-size: 50px;
	font-weight: 800;
	margin-bottom: 50px
}

h2{
	font-size: 30px;
	font-weight: bold;
}

hr{
	margin-bottom: 110px
}

img{
	width: 270px;
	/*height: 300px;*/
}

image-container{
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	gap: 20px;
}

image-container img{
	width: 200px;
	height: auto;
	display: block;
}

ul{
	margin-bottom: 90px;
}

li{
	font-size: 23px;
	font-weight: 500;
	margin-bottom: 10px
}

p{
	/*font-size: 15px;*/
	max-width: 800px;
	margin: 0 auto 60px;
	line-height: 1.9; 
	letter-spacing: 0.3px;
	font-size: 1rem;
}

figcaption{
	font-size: 15px;
}

footer{
	margin-top: 90px
}
